In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
 url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [3]:
labels = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']
irisdata = pd.read_csv(url, names=labels)

In [4]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
# Ciceklere Ait Değişken olan İlk Dört Parametreyi X Değişkenine Atayalım
X = irisdata.iloc[:, 0:4]

In [6]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
# Siniflara Ait Sütunu y Değişkenine Atayalım
y = irisdata.select_dtypes(include=[object])

In [8]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [9]:
# y Parametremize Atanan Değerleri Tekil-Benzersiz Olarak Goruntuleyelim (Onizleme)
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [10]:
# Scikit-Learn Kütüphanesini Kullanarak y Parametresine ait Değerleri
# Sayisal Değerlere Dönüştürelim
labEnc = preprocessing.LabelEncoder()
y = y.apply(labEnc.fit_transform)

In [11]:
# y Parametremize Değer Dönüşümünün Sonucunu Atanan Değerleri Tekil-Benzersiz Olarak Goruntuleyelim (Onizleme)
y.Class.unique()

array([0, 1, 2])

In [12]:
# Verilerimizi %75 Egitim %25 Test Verisi Olarak Parcalayalim
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [13]:
# Ozelliklerimizi Olceklendirelim
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
# Yapay Sinir Ağı Modelimizi Olusturalım, Gizli Katmanımızı Yapilandiralim
mlpcl = MLPClassifier(hidden_layer_sizes=(10, 10, 10, 10), max_iter=10000)
mlpcl.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(10, 10, 10, 10), max_iter=10000)

In [15]:
# Test Verilerimiz Uzerinde Tahminlemelerde Bulunalim
predictions = mlpcl.predict(X_test)

In [16]:
# Tahminlememizin – Algoritmamizin Performansını Olcumleyelim
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[14  0  0]
 [ 0 13  1]
 [ 0  0 10]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        14
           1       1.00      0.93      0.96        14
           2       0.91      1.00      0.95        10

    accuracy                           0.97        38
   macro avg       0.97      0.98      0.97        38
weighted avg       0.98      0.97      0.97        38